header {
  background: black; 
  width: 940px;
}

.logo {
  width: 30%;
  float: left;
}  

.box {
  position: relative;
	width: 940px;
	margin: 0 0 20px; 
}

body {
  background: black;
}  

.image-banner {
  width: 100%;
  opacity: 0.45;
}  

