html {
  scroll-behavior: smooth;
}

body {
  background: #2C2C34;
  background-attachment: fixed; 
}

.header {
  background-color: #2C2C34;
  margin: 10px 0;
}

.header-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
 display: flex;
}

.heander-nav-link {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1.25em;
  font-weight: 100;
  text-transform: uppercase;
  margin-left: 25px;
}

.heander-nav-link:hover {
  color: #BF0603;
  transform: scale(1.05);
}  

.image-banner {
  width: 100%;
  height: auto;
  opacity: 0.8;
  box-shadow: 0 3px 5px rgba(24, 22, 22, 0.534);
} 

h2 {
  color: #F4F3EE;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 2em;
  text-align: justify;
  font-weight: 300;
  margin-bottom: 30px; 
} 

p {
  color: #F4F3EE;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.8;
  font-size: 1.1em;
  font-weight: 200;
}

.container .information {
  width: 80%;
  margin: 12% auto;
}

.container .contact {
  width: 80%;
  margin: 12% auto 5%;
}

.video {
  box-shadow: 0 3px 5px rgba(24, 22, 22, 0.534);
}

.cuts-container {
  display: flex;
  flex-direction: column;
}

.photo-container {
  position: relative;
}

.photo {
  display: block;
  margin: 0 auto;
  width: 100%;
  filter: grayscale(100%);
  transition: .2s ease-in-out;
}

.photo:hover {
  filter: grayscale(0%);
}

.text {
  font-family: 'Montserrat' sans-serif;
  font-size: 1.5em;
  font-weight: 100;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.493);
  color: white;
  padding: 1px 10px;
  border-radius: 15px;
}

.map {
  box-shadow: 0 3px 5px rgba(24, 22, 22, 0.534);
}

.contact-container .form-container {
  width: 80%;
  margin: 0 auto;
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-form {
  width: 70%;
}

form label, form legend {
	display: block;
	font-weight: 300;
	margin: 0 0 10px;
  font-family: 'Montserrat';
  color: #F4F3EE;
}

.standard-input {
	display: block;
	margin: 0 0 20px;
	padding: 12px 8px;
	width: 80%;
}

.send {
  font-family: 'Montserrat';
	width: 30%;
	padding: 10px 0;
	background:#BCB8B1;
	color: white;
	font-size: 18px;
	border: none;
	border-radius: 3px;
	transition: 0.2s all;
	cursor: pointer;
}

.send:hover {
	background: #BF0603;
	transform: scale(1.009);
}

.main-footer {
  background-image: linear-gradient(to bottom, #2C2C34, #494850);
  width: 100%;
  display: block;
  text-align: center;
  padding: 60px 0;
}

.logo-footer {
  width: 18%;
  display: table;
  margin: auto;
  transition: 0.5s all;
}

.logo-footer:hover {
  transform: scale(1.05);
}

/* mobile */

@media(max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: center;
  }

  .header-nav {
    flex-direction: column;
  }

  .logo-container {
    margin: 20px auto
  }

  .logo {
    width: 100%;
    height: auto;
  }

  .heander-nav-link {
    text-align: center;
    margin: 15px 0;
  }

  h2 {
   text-align: center;
  } 

  p {
    line-height: 1.6;
    text-align: center;
  }

  .text {
    font-size: 0.9em;
  }

  .contact-container .form-container {
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
  }

  .contact-form {
    width: 80%;
    margin: 0 auto;
  }

  .standard-input {
    width: 90%;
    margin: 0px 5px 9px;
  }
  
  form label, form legend {
    width: 90%;
    margin: 0px 6px 10px;
  }

  .send {
    width: 95%;
    margin: 20px 5px;
  }

  .barber-pole {
    margin-top: 20px;
    width: 100%;
    height: auto;
  }

  footer {
    height: 150px;
  }

  .container-footer {
    display: flex;
    padding: 0;
  }

  .main-footer {
    background-image: linear-gradient(to bottom, #2C2C34, #494850);
    width: 100%;
    display: block;
    padding: 20px 0 0 0;
    margin-top: 30px;
  }

  .footer-container {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
  }

  .logo-footer {
    width: 80%;
    height: auto;
  }

}